<div>
  <label>Property</label>
  <select>
    <option value="Q">Phase Line</option>
    <option value="T">Temperature</option>
    <option value="D">Density</option>
    <option value="S">Entropy</option>
  </select>
</div>

<div>
  <label>Minimum</label>
  <input placeholder="MINIMUM"/>
</div>

<div>
  <label>Maximum</label>
  <input placeholder="MAXIMUM"/>
</div>

<div>
  <label>Steps</label>
  <input placeholder="STEPS"/>
</div>

<div>
  <label>Scale</label>
  <select>
    <option value="lin">Linear</option>
    <option value="log">Logarithmic</option>
  </select>
</div>
